.a-breadcrumbs
  display: flex
  margin: 25px 0

  & > div
    text-transform: uppercase

  div,  a
    padding: 3px 6px
    font-size: 0.7rem
    color: #7e98ba
    font-weight: 600
    margin-left: 5px