Options -Indexes +FollowSymLinks

AddDefaultCharset  utf-8

RewriteEngine on
RewriteBase /
#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


#Don't put ^ before http
RewriteCond %{HTTP_HOST} ^www.vitexopt.ru [NC] 
RewriteRule ^(.*)$ https://vitexopt.ru/$1 [L,R=301]

# Redirect from slash to without slash
RewriteCond %{REQUEST_URI} !\?
RewriteCond %{REQUEST_URI} !\&amp;
RewriteCond %{REQUEST_URI} !\=
RewriteCond %{REQUEST_URI} !\.
RewriteCond %{REQUEST_URI} ![^\/]$
RewriteRule ^(.*)\/$ /$1 [R=301,L]



RewriteCond %{REQUEST_URI} !^/pic.*
RewriteCond %{REQUEST_URI} !/robots.txt$
RewriteCond %{REQUEST_URI} !/sitemap.xml$
RewriteRule ^(.*)$ public/$1 

# One year for image files
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>

# One month for css and js
<filesMatch ".(css|js)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>




