

.key{
	display: flex;
	flex:1;
	justify-content: flex-end;
}
.val{
	display: flex;
	flex:1;
	justify-content: flex-start;
}


.img-box
{
	flex:1;
}

.tabs>section>.flex {
	display:flex;
}

.props{
	display: flex;
	flex-flow:column;
	flex:2;
}
.prop{
	display: flex;
	margin: 10px 0;
}
.prop>div{
	padding: 5px;
}

/* Базовый контейнер табов */
.tabs {
	min-width: 320px;
	/*max-width: 800px;*/
	width: 85%;
	padding: 0px;
	margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
	display: none;
	padding: 15px;
	background: #fff;
	border: 1px solid #ddd;
}
.tabs>section>.flex {
	margin: 0 0 5px;
	line-height: 1.5;
	color: #383838;
	/* прикрутим анимацию */
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #aaa;
	border: 0px solid #ddd;
	border-width: 1px 1px 1px 1px;
	background: #f1f1f1;
	border-radius: 3px 3px 0 0;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}

/* Изменения стиля переключателей вкладок при наведении */

.tabs>label:hover {
	color: #888;
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #555;
	border-top: 1px solid #009933;
	border-bottom: 1px solid #fff;
	background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
	display: block;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/

@media screen and (max-width: 680px) {
	.tabs>label {
		font-size: 10px;
	}
	.tabs>label:before {
		margin: 0;
		font-size: 18px;
	}
}
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
	.tabs>label {
		padding: 15px;
	}
}


.title{
    padding: 0px 0 40px;
    font-weight: 600;
    font-size: 30px;
    color: #343436;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main{
	display: flex;
}



.admin-product-edit{
	display: flex;
	flex-flow:column;
	margin: 0 10px; 
}
.admin-product-edit img{
    max-width: 240px;
    width: 100%;
    height: 100%;
}
td a
{
	border: 1px solid #949494;
    padding: 3px 8px;
}
.work-area{
	display:flex;
}
.work-middle{
	padding: 5px 35px; 
	display:flex;
	flex-flow: column;
}
.work-middle button {
    margin: 10px 0;
}



.btnadd-user{
	width: 205px;
    height: 49px;
}
.has-children>label a:before
{
    content: '';
    border: 4px solid;
    border-color: transparent transparent transparent #ccc;
    position: absolute;
	right: -16px;
    top: 3px;
}

.menu label, .menu a, .menu li {
	position: relative;
	display: block;
	color: #c1c1c1;
	font-size: 12px;
}
.has-children label
{
	display: flex;
}
.menu input:checked+label>a
{
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}



.type
{
	width: 200px;
}
.edit
{
	width: 90px;
}
.save

{
	width: 50px;
}

.navi a:hover
{

    background-color: #e8e8e8;;	
}

.filter
{
	padding: 30px;
}
table
{
	text-align: left;
	/*	cellpadding: 4px; 
		border:1px;*/
}
tbody tr:nth-child(odd)
{
	background-color:#f7f7f7;
}

.a-actions{
	display: flex;
	flex-flow:column;
	margin-bottom: 250px;
	width: 150px;
	border: 1px solid #ddd;
	padding: 10px;
}

.a-actions a{
	padding: 10px;
}
.a-actions a:hover{
	background: #ccc;
	padding: 10px;
}

.a-tabs-wrap{
	width: 90%;
	margin: 30px auto;

}

.properties
{
	padding: 10px;
	width: 590px;
}
.property{
    padding: 10px 5px;
    min-width: 140px;
	margin-top: 20px;
}
.prop.prod-type-title 
{
	background:#123aff;	
}
.prop-head{
	display:flex;
	margin-bottom: 20px;
    justify-content: space-between;
}



.val{
	padding: 10px;
}
.value:focus{
	border-bottom:1px #ddd solid ;
}
/*.blue:hover{
	background:#0021c3;
	cursor: pointer;
}*/
.add-prop{
	height: 100%;
	cursor: pointer;
	border: 1px #123aff solid;
	font-weight: 600;
	color: #5e5e5e;
    padding: 3px 6px;
	transition: .1s;
}
.add-prop:hover{
	background: #123aff;
	cursor: pointer;
	color:#fff;
}
.val>.name>input{
	max-width: 200px;
}
.breadcrumbs-adm {
	margin: 0 0 50px 0;
}

.breadcrumbs-adm div,
.breadcrumbs-adm a,
.orange
{
	background: orange;
	padding: 3px 6px;
	color: #fff;
	font-weight: 600;
	margin-left: 5px;
}
.del-prop{
	width: 15px;
    height: 15px;
    position: absolute;
    background: red;
    right: 0;
    top: 100%;
	color:#fff;
	font-size:8px;
	transition:.3s;
	border-radius: 0 0 7px 7px;
    line-height: 200%;
	cursor: pointer;
}
.del-prop span{
	position:absolute;
}

.del-prop span:nth-child(1){
	opacity: 1;
	right: 5px;
}
.del-prop span:nth-child(2){
	opacity: 0;
	display: none;
}
.del-prop:hover{
	width: 50px;
	transition:.3s;
}
.del-prop:hover.del-prop span:nth-child(1){
	opacity: 0;
	transition:.3s;
}
.del-prop:hover.del-prop span:nth-child(2){
	opacity: 1;
	transition:.3s;
    right: 6px;
	display:block;
}

.add-prop-val{
	height: 17px;
	transition: .1s;
}

.button{
	cursor: pointer;
}
.property-block{
	display:flex;
	flex-flow: wrap;
	padding-left: 50px;
}

/*.wrap .list{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid #eee;
}*/
.wrap .list:hover
/*.menu a:hover*/
{
    background:#f6f6f6;
}


.nav{
    display: none;
    flex-flow: column;
    border: 1px solid #eee;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background: #fff;
    z-index: 2;
    position: absolute;
    top: 100%;
    width: 100%;
}
.nav a:hover{
    background: rgba(0,0,0,0.2);
} 
.nav a{
    display: none;
    padding:5px 10px;
}
