.js-pic-main{
	padding: 10px;
	box-sizing: border-box;
}



#content-tab4 .holder.hover{
    /*background-color: red;*/
    border: 5px dashed #aca2d4;
}

h1{
    font-family: cursive;
    background-color: white;
    margin: 0;
    padding: 20px 10px;
}
.prod-details.column img{
    display: block;
    width: 80px;
    flex: 1;
}

.left.column div {
    align-items: self-start;
}

.prod-details .row .left.column{
    flex:3;
}
.prod-details .row .right.column{
    flex:1;
}
.prop.row {
    flex:1;
    align-items: self-start;
    margin: 5px 10px;
}

.prop.row strong,
.prop.row span
{
    flex:1;
    display:flex;
}
.prop.row strong{
    justify-content: flex-end;
    margin-right: 15px;
}

.category-properties {
    display: flex;
}
.category-properties input,
.category-properties select
{
    flex:2;
    margin-right: 20px;
}
.category-properties span{
    margin: 10px 10px 0 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}