
/*//////////////////////////////*/
/*////////   Catalog  /////////*/
/*//////////////////////////////*/

.categories .row
{
	justify-content: space-around;
}
.categories .row:hover
{
	background: #ccc;
}

.breadcrumbs-adm > div{
	text-transform: uppercase;
}


.desc:hover + .no{
	display: flex;
}
.no{
	display: none;
	display: none;
    position: absolute;
    top: 0;
    left: 100%;
}
menu p{
	margin: 0;
}
span.close{
	position: absolute;
    right: 0px;
    top: 0px;
	cursor: pointer;
    border: 1px solid #ccc;
    padding: 0 5px; 
}
.doc{
	position: relative;
}
.doc ul{
	margin: 0 10px 0 0;
}
menu{
	position: absolute;
	display: none;
	background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    top: 100%;
    margin: 0;
}
.flex1{
	display: flex;
	flex:1;
}
.row{
	display: flex;
}
.name{
	display: flex;
	flex:1;
}
.val-block{
	flex:1;
	display: flex;
}
.val-item{
	display: flex;
}
.val-item .value{
	padding-left: 10px;
}
.prop{
	display:flex;
	flex-flow:column;
	justify-content: space-between;
	position: relative;
	flex:1;
}
.val{
	padding: 10px;
	flex:1;
}
.value:focus{
	border-bottom:1px #ddd solid ;
}


/*//////////////*/
/*//alert//////*/
/*//////////////*/
.prop-name{
	display:flex;
	border-bottom: 1px solid #d8d8d8;
}
.prop-val-list{
	padding-left: 25px;
	flex: 1;
}
.overlay{
    width:100%;
    height:100%;
    background-color:#000;
    z-index: 1000;
    position:fixed;
    top:0;
    left:0;
    opacity:0.5;


}


.messageBox{
    display: flex;
    flex-direction:column;
    width: 30%;
    min-width: 241px;
    position: fixed;
    top: 10vw;
    left: 30%;
    background-color: #eff4ee;
    z-index: 10001;
    line-height: 25px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.messageBox>div{
    padding: 10px;	
}

.messageTitleBar{
    display: flex;
    text-transform:uppercase;

}
.messageTitle{
    flex:1;
    color: #80868e;
    padding-left: 20px;
    font-weight: 800;
}

.messageClose{
    display: flex;
    justify-content: center;
    flex: 1;
    transition: .5s;
    color: #494949;
    background: #ccc;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
}
.messageClose:hover{
    background: #4cb000;
    transition:.3s;
    color: #000;
    font-weight: 800;
}

.msg div{
    color: #6e6e6e;
    font-size: 20px;
    padding: 0 30px;
}
.msg{
    min-height:100px;
    background: #fff;
}

.msg a{
    text-decoration: underline;    
    color: #1d5bff;   
    font-weight: 800;
    padding: 3px;
}






.multy{
    font-size: 18px;
    font-weight: 100;
}
.property{
    padding: 10px 5px;
    min-width: 140px;
	display: flex;
	/*margin-top: 20px;*/
}
.prop.prod-type-title 
{
	background:#123aff;	
}
.property-block{
	display:flex;
	flex-flow: wrap column;
	padding-left: 12px;

}
.prop-head{
	display:flex;
	background: #c7c7c7;
	padding: 10px;
	margin-bottom: 12px;
    justify-content: space-between;
}
.left-menu{
	width:250px;
	padding: 10px;
}

.tabs>section>.flex {
	display:flex;
}

.props{
	display: flex;
	flex-flow:column;
}
.props>div{
	display: flex;
}

/* Базовый контейнер табов */
.tabs {
	min-width: 320px;
	/*max-width: 800px;*/
	width: 85%;
	padding: 0px;
	margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
	display: none;
	/*padding: 15px;*/
	background: #fff;
	border: 1px solid #ddd;
}
.tabs>section>.flex {
	margin: 0 0 5px;
	line-height: 1.5;
	color: #383838;
	/* прикрутим анимацию */
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #aaa;
	border: 0px solid #ddd;
	border-width: 1px 1px 1px 1px;
	background: #f1f1f1;
	border-radius: 3px 3px 0 0;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}

/* Изменения стиля переключателей вкладок при наведении */

.tabs>label:hover {
	color: #888;
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #555;
	border-top: 1px solid #ffa500;
	border-bottom: 1px solid #fff;
	background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
	display: block;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/

@media screen and (max-width: 680px) {
	.tabs>label {
		font-size: 0;
	}
	.tabs>label:before {
		margin: 0;
		font-size: 18px;
	}
}
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
	.tabs>label {
		padding: 15px;
	}
}


.title{
    padding: 0px 0 40px;
    font-weight: 600;
    font-size: 30px;
    color: #343436;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main{
	display: flex;
}

.props{
	display: flex;
	flex-flow: column;
	margin: 20px 20px;
}

.admin-product-edit{
	display: flex;
	flex-flow:column;
	margin: 0 10px; 
}
.admin-product-edit img{
    max-height: 500px;
    max-width: 400px;
}
td a
{
	border: 1px solid #949494;
    padding: 3px 8px;
}
.work-area{
	display:flex;
}
.work-middle{
	padding: 5px 35px; 
	display:flex;
	flex-flow: column;
}
.work-middle button {
    margin: 10px 0;
}


.right-check
{
	display: flex;
}

.btnadd-user{
	width: 205px;
    height: 49px;
}
.has-children>label a:before
{
    content: '';
    border: 4px solid;
    border-color: transparent transparent transparent #ccc;
    position: absolute;
	right: -16px;
    top: 3px;
}

.menu label, .menu a, .menu li {
	position: relative;
	display: block;
	color: #c1c1c1;
	font-size: 12px;
}
.has-children label
{
	display: flex;
}
.menu input:checked+label>a
{
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

.menu>li
{
	font-size: 13px;
}
.menu li ul li:hover,
.menu li ul li a:hover
{
	/*padding: 2px;*/
	font-size: 13px;
	color:#ffa500;
	font-weight: 600;
}

.menu .drop
{
	background: #001a98;
	cursor: pointer;

}

.menu>li:hover,
.menu li:hover>li label,
.menu>label a:hover
{
	background: #5e5e5e;
}
.menu>li:not(.has-children){
	padding: 9px 0 9px 0px;

}
.menu>li>label 
{
	padding: 9px 0 9px 9px;
}
.menu .drop
{
	padding: 9px 0 9px 9px;
}



.menu {
	width: 130px;
	background: #001a98;
	align-self: flex-start;
}
.menu ul {
	display: none;
	cursor: pointer;
}


.menu input[type=checkbox]:checked + label + ul,
.menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
	display: block;
}
.menu input[type=checkbox] {
	position: absolute;
	opacity: 0;
}



.drop li{
    padding: 0 5px;
}


:focus
{
	outline: none;
}




.type
{
	width: 200px;
}
.edit
{
	width: 90px;
}
.save

{
	width: 50px;
}
/*.thumb
{
	width: 90px;
}*/

.navi
{
	display:flex;
	flex-flow: wrap;
}
.navi a
{
    min-width: 28px;
    display: block;
    padding: 6px;
    background-color: #f5f5f5;	
	text-align: center;
}
.navi a:hover
{

    background-color: #e8e8e8;;	
}

.filter
{
	padding: 30px;
}
table
{
	text-align: left;
	/*	cellpadding: 4px; 
		border:1px;*/
}
tbody tr:nth-child(odd)
{
	background-color:#f7f7f7;
}

.column
{
	display:flex;
	flex-flow:column;
}

input
{
    border: none;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;	
}

.sName,
.mName

{
    width: 22%;
}

tbody tr:first-child
{
    height: 50px;
}

.ref-row
{
	display:flex;
}

.hired,
.bday
{
	width: 130px;

}
.admin-actions{
	display: flex;
	flex-flow:column;
	margin-bottom: 250px;
	width: 150px;
	border: 1px solid #ddd;
	padding: 10px;
}

.admin-actions a{
	padding: 10px;
}
.admin-actions a:hover{
	background: #ccc;
	padding: 10px;
}

.wrap-admin{
	width: 90%;
	margin: 30px auto;

}
.wrap-admin-content{
	display: flex;

}






.blue
{

	border-bottom: 1px #123aff solid;
	padding: 3px 6px;
	font-weight: 600;
	/*text-align: center;*/
}
.add-prop{
	/*color: #5e5e5e;*/
	background: #123aff;
	color: #fff;
	height: 100%;
	cursor: pointer;
	font-weight: 600;
    padding: 3px 6px;
	transition: .1s;
}
.add-prop:hover{
	background: #0070ff;
	cursor: pointer;
	color:#fff;
}
.val>.name>input{
	max-width: 200px;
}
.breadcrumbs-adm {
	margin: 0 0 25px 0;
}

.breadcrumbs-adm div,
.breadcrumbs-adm a,
.orange
{
	background: orange;
	padding: 3px 6px;
	color: #fff;
	font-weight: 600;
	margin-left: 5px;
}
.del-prop{
	width: 15px;
    height: 15px;
    position: absolute;
    background: red;
    right: 0;
    top: 100%;
	color:#fff;
	font-size:8px;
	transition:.3s;
	border-radius: 0 0 7px 7px;
    line-height: 200%;
	cursor: pointer;
}
.del-prop span{
	position:absolute;
}

.del-prop span:nth-child(1){
	opacity: 1;
	right: 5px;
}
.del-prop span:nth-child(2){
	opacity: 0;
	display: none;
}
.del-prop:hover{
	width: 50px;
	transition:.3s;
}
.del-prop:hover.del-prop span:nth-child(1){
	opacity: 0;
	transition:.3s;
}
.del-prop:hover.del-prop span:nth-child(2){
	opacity: 1;
	transition:.3s;
    right: 6px;
	display:block;
}
.add-prop-val{
	height: 17px;
	transition: .1s;
}
.clear{
	border-top: 1px solid #ddd;
	font-weight: 600;
	text-align: center;	
	padding: 3px 6px;
	color: #6b6b6b;
}
.clear:hover{
	color:#fff;
	background: #4d5158;
	/*border-bottom: 1px solid slategray;*/
	/*border-right: 1px solid slategray;*/
}

.button{
	cursor: pointer;
}


html,
body{
    height: 100%;
    overflow-x: hidden; /*/для скрытия горизонтального скрола при появлении ответов*/
    overflow-y: hidden;
}

body{
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    overflow-y: scroll;
    margin:0;
    font-family: 'Roboto', sans-serif;
	flex-direction: column;
    height: 100%;
}


/*.wrap .list{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid #eee;
}*/
.wrap .list:hover
/*.menu a:hover*/
{
    background:#f6f6f6;
}

a {
    color: #949494;
}

a,
a:hover,
.navi__item,
.navi__item:hover
{
    text-decoration: none;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
input, 
textaria,
textarea:focus,
.button:focus
{ 
    outline:none;
}


a,
a:hover,
.list,
.a label,
.submit
{
    cursor: pointer;
}

body,
.header,
.user-menu,
.user-menu li,
.user-menu label,
.enter-button,
.user-button,
.user-button span,
.user-button:hover .nav,
.user-button:hover .nav>a,
.nav:hover>a,
footer,
.breadcrumbs-adm,
footer p
{ 
    display: flex;
}

header {
    background: #fff;
    padding: 10px 0;
    height: 45px;
    z-index: 500;
    width: 100%;
    -webkit-box-shadow: 0 0 18px 0 #d2d2d2;
    box-shadow: 0 0 18px 0 #d2d2d2;
    margin-bottom: 10px;
}
.logo-wrap{
    flex: 2;
    min-width: 520px;
}


.wrap {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    justify-content: space-between;
}

footer p{
    padding: 0 15px;
}

.logo{
    flex: 1;
    justify-content: center;
	flex-basis: 56px;
	width: 503px;
	max-width: 498px;
}
.logo img{
    width: 100%;
    max-width: 35%;
    min-width:50px;
}
.logo a
{
    width: 22vw;
    display: block;
}
.logo>span
{
    margin: 3px 0 0 12px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color:#343133;
}
.user-menu{
    flex:2;
    justify-content: flex-end;
    align-items: center;
}

.enter-button,
.user-button
{
    justify-content: center;
    align-items: center;
    position: relative;
}
.enter-button
{
    width: 20%;
    height: 100%;
}
.user-button
{
    flex-direction: column;
}
.user-button div:first-child
{
    align-items: center;
    border: 1px #e5e5e5 solid;
    font-size: 11px;
    display:flex;
	padding:10px;

}

.user-button div:first-child span
{
    padding-left: 10px;
    min-width: 120px;
    color: #757575;
}

.nav{
    display: none;
    flex-flow: column;
    border: 1px solid #eee;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background: #fff;
    z-index: 2;
    position: absolute;
    top: 100%;
    width: 100%;
}
.nav a:hover{
    background: rgba(0,0,0,0.2);
} 
.nav a{
    display: none;
    padding:5px 10px;
}
.content
{
    max-width: 1200px;
    margin: 50px auto;
    padding: 50px;
}

.content-90
{
	margin: 20px 1%;
}
.confirm
{
	text-align: center;
	width: 60px;
}
.right
{
	width:15px;
}
.ref-row>*
{
	padding-left: 7px; 
	min-width: 15px;
	border:none;
	border-right: 1px #ddd solid;
}