@charset "UTF-8";

.h400{
	height: 400px;
}
.w400{
	width: 400px;
}
.h500{
	height: 500px;
}
.w500{
	width: 500px;
}
.h200{
	height: 200px;
}
.w200{
	width: 200px;
}
.mt20{
	margin-top: 20px;
}
.mb20{
	margin-top: 20px;
}


/*/////////////////// POP UP   //////////////!**/

/*.overlay{*/
/*    width:100%;*/
/*    height:100%;*/
/*    background-color:#000;*/
/*    z-index: 1000;*/
/*    position:fixed;*/
/*    top:0;*/
/*    left:0;*/
/*    opacity:0.5;*/
/*	display:none;*/
/*}*/


/*.messageBox{*/
/*    display: flex;*/
/*    flex-direction:column;*/
/*    width: 30%;*/
/*    min-width: 241px;*/
/*    position: fixed;*/
/*    top: 10vw;*/
/*    left: 30%;*/
/*    background-color: #eff4ee;*/
/*    z-index: 10001;*/
/*    line-height: 25px;*/
/*    font-size: 14px;*/
/*    font-family: 'Roboto', sans-serif;*/
/*}*/
/*.messageBox>div{*/
/*    padding: 10px;	*/
/*}*/

/*.messageTitleBar{*/
/*    display: flex;*/
/*    text-transform:uppercase;*/

/*}*/
/*.messageTitle{*/
/*    flex:1;*/
/*    color: #80868e;*/
/*    padding-left: 20px;*/
/*    font-weight: 800;*/
/*}*/

/*.messageClose{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex: 1;*/
/*    transition: .5s;*/
/*    color: #494949;*/
/*    background: #ccc;*/
/*    text-transform: uppercase;*/
/*    font-weight: 800;*/
/*    cursor: pointer;*/
/*}*/
/*.messageClose:hover{*/
/*    background: #4cb000;*/
/*    transition:.3s;*/
/*    color: #000;*/
/*    font-weight: 800;*/
/*}*/

/*.msg div{*/
/*    color: #6e6e6e;*/
/*    font-size: 20px;*/
/*    padding: 0 30px;*/
/*}*/
/*.msg{*/
/*    min-height:100px;*/
/*    background: #fff;*/
/*}*/

/*.msg a{*/
/*    text-decoration: underline;    */
/*    color: #1d5bff;   */
/*    font-weight: 800;*/
/*    padding: 3px;*/
/*}*/

/*/////////////////////////////!*!////  PIC BOX  /////!*!////////////////////////////!**/
/*.pic{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: contain;*/
/*}*/


/*iframe .map{*/
/*	margin: 20px 0;*/
/*}*/

/*.image-height.column a{*/
/*	width: 100%;*/
/*	height: 100%;*/
/*}*/

/*!**************************************/
/********      MOBILE PANEL        *******/
/***************************************!*/
/*label[for="toggle-button"]{*/
/*    position: absolute;*/
/*    top: -9px;*/
/*    left: 0px;*/
/*    z-index: 1;*/
/*    color: #fff;*/
/*    font-size: 21px;*/
/*    padding: 7px 9px;*/
/*	cursor: pointer;*/
/*	z-index: 4;*/
/*}*/
/*#panel{*/
/*	width: 100%;*/
/*}*/
/*#panel header .wrap{*/
/*	box-shadow: 0 5px 18px 0 #d2d2d2;*/
/*    min-height: 100vh;*/
/*    margin: 0 0 -83px 0;*/
/*}*/

/*input#toggle-button{*/
/*	display: none;*/
/*}*/


/*!************      MENU ***************!*/
/*nav#menu{*/
/*	max-width: 0px;*/
/*	min-width: 0px;*/
/*	position: relative;*/
/*	overflow: hidden;*/
/*}*/

/*#toggle-button:checked~nav#menu{*/
/*	min-width: 400px;*/
/*	max-width: 400px;*/
/*}*/

/*#toggle-button:checked~label[for="toggle-button"]{*/
/*    position: absolute;*/
/*    text-align: center;*/
/*    padding: 1px;*/
/*    left: 0px;*/
/*    top: 0px;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    color: #000;*/
/*    z-index: 3;*/
/*    border: 1px solid #e30000;*/
/*}*/
/*.menu-wrap{*/
/*	margin: 50px 20px 0 20px;*/
/*	width: 360px;*/
/*}*/
/*.menu-wrap .item{*/
/*	padding:  0;*/
/*	transition: .3s;*/
/*	text-transform: uppercase;*/

/*}*/
/*#toggle-button:checked ~#menu .menu-wrap .item*/
/*{*/
/*	padding:  10px 0;*/
/*	position: relative;*/
/*}*/

/*.transition {*/
/*	transition: .3s;*/
/*	-webkit-transition: all 0.3s;*/
/*    -o-transition: all 0.3s;*/
/*}*/


/*************************************
*******      ADMIN    ******
**************************************/

.edit:before
{
    content: '\270e изменить';
    line-height: 54px;
    display: block;
    position: absolute;
    width: 80%;
    padding: 0 0 0 20%;
    height: 100%;
    /*z-index: 2;*/
    color: #fff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0,0,0,0.5) 24%);

}

/*!**************************************/
/********      HTML BODY    *******/
/***************************************!*/
/*h1,*/
/*h2*/
/*{*/
/*    text-transform: uppercase;*/
/*    color: #4e4e4e;*/
/*    font-size: 1.6em;*/
/*    font-weight: 400;*/
/*}*/

/*html,*/
/*body{*/
/*    height: 100%;*/
/*    overflow-x: hidden;!*для скрытия горизонтального скрола при появлении ответов*!*/
/*    overflow-y: hidden;*/
/*}*/

/*body{*/
/*    margin-left: calc(100vw - 100%);*/
/*    margin-right: 0;*/
/*    overflow-y: scroll;*/
/*    margin:0;*/
/*    font-family: 'Roboto', sans-serif;*/
/*    !*font-family: Verdana,Arial,sans;*!*/
/*}*/
/*body,*/
/*a,*/
/*p {*/
/*    color: #595959;*/
/*}*/

/*a,*/
/*a:hover,*/
/*.form-title,*/
/*.navi__item,*/
/*.navi__item:hover,*/
/*.p-no-active*/
/*{*/
/*    text-decoration: none;*/
/*}*/

/*ul, li{*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/*input, */
/*textaria,*/
/*textarea:focus,*/
/*.button:focus*/
/*{ */
/*    outline:none;*/
/*}*/


/*a,*/
/*.add-freetest,*/
/*a:hover,*/
/*.checkbox + label,*/
/*.pic-upload label,*/
/*.pic-del, */
/*.checkbox:checked + label:before,*/
/*.cansel-rename-test-button,*/
/*.add-pic-button label,*/
/*.navi__item,*/
/*.button,*/
/*.a label,*/
/*.pic-upload label,*/
/*.add-question,*/
/*.add-test,*/
/*.test-params,*/
/*.freetest-params,*/
/*.user-button,*/
/*.messageTitleClose,*/
/*.delete-question,*/
/*.smallButton:hover,*/
/*#addNewTestOk,*/
/*.submit*/
/*{*/
/*    cursor: pointer;*/
/*}*/



/*!**************************/
/********      Site    *******/
/***************************!*/


/*.d-content{*/
/*	max-width: 800px;*/
/*    margin: auto;*/
/*}*/
/*.column{*/
/*    display:flex;*/
/*    flex-flow:column;*/
/*}*/

/*.row {*/
/*    display:flex;*/
/*    flex-flow: row;*/
/*}*/
/*.flex1*/
/*{*/
/*	flex:1;*/
/*}*/
/*.none{*/
/*    display: none;*/
/*}*/
/*.art{*/
/*    margin:10px 0;*/
/*    padding: 1.14rem 1.14rem;*/
/*    font: normal 19px Verdana,Arial,sans;*/
/*    color:#555;*/
/*    text-align: right;*/
/*}*/
/*.card-left .row {*/
/*    justify-content: space-between;*/
/*}*/

/*#cookie-notice {*/
/*    color: rgb(255, 255, 255);*/
/*    background-color: rgb(0, 0, 0);*/
/*    display: block;*/
/*    position: fixed;*/
/*    min-width: 100%;*/
/*    height: auto;*/
/*    z-index: 10;*/
/*    font-size: 10px;*/
/*    line-height: 15px;*/
/*    left: 0;*/
/*    bottom: -100%;*/
/*    text-align: center;*/
/*    -webkit-transition: 3s;*/
/*    -moz-transition: 3s;*/
/*    -ms-transition: 3s;*/
/*    -o-transition: 3s;*/
/*    transition: 1s;*/
/*    padding: 10px;*/
/*}*/


/*#cn-accept-cookie {*/
/*    font-family: sans-serif;*/
/*    display: inline-block;*/
/*    margin-right: 0.3em;*/
/*    margin-bottom: 0;*/
/*    line-height: 20px;*/
/*    text-align: center;*/
/*    font-style: normal;*/
/*    vertical-align: middle;*/
/*    cursor: pointer;*/
/*    color: #ffffff;*/
/*    background-color: #e60000;;*/
/*    background-repeat: repeat-x;*/
/*    border-style: solid;*/
/*    border-width: 1px;*/
/*    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
/*    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);*/
/*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);*/
/*    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/
/*    padding: 2px 10px;*/
/*    font-size: 12px;*/
/*    text-decoration: none;*/
/*    -webkit-border-radius: 3px;*/
/*    -moz-border-radius: 3px;*/
/*    border-radius: 3px;*/
/*    outline: none;*/
/*}*/


/*.site{*/
/*    position: relative;*/
/*    !*margin: 90px;*!*/
/*}*/
/*.site .wrap{*/
/*    margin: 0 auto;*/
/*    padding: 30px 10px;*/
/*    margin-bottom: 9px;*/
/*    max-width: 1310px;*/
/*    box-sizing: border-box;*/
/*}*/
/*main{*/
/*	display:flex;*/
/*    max-width: 1310px;*/
/*    margin: auto;*/
/*    padding: 0 10px;*/
/*}*/

/*.main-menu-wrap{*/
/*    margin: 0 15px 0 15px;*/
/*}*/
/*.main-menu-wrap  li a{*/
/*    padding: 5px 15px 5px 15px;*/
/*}*/



/*************************************
*******      BREADCRUMBS    ******
**************************************/


/*.breadcrumbs{*/
/*    font-size: 14px;*/
/*    color: #605b5e;*/
/*    line-height: 20px;*/
/*    text-align: center;*/
/*    display: flex;*/
/*    margin: 12px 0;*/

/*}*/

/*.breadcrumbs a,*/
/*.breadcrumbs span*/
/*{*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    padding: 7px 12px 7px 12px;*/
/*    background: #fff;*/
/*}*/
/*.breadcrumbs a:hover,*/
/*.breadcrumbs span:hover*/
/*{*/
/*    background-color: #f7f7f7;*/
/*}*/
/*.breadcrumbs a:after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    top:13px;*/
/*    right: -5px;*/
/*    border-bottom: 2px solid #ccc;*/
/*    border-right: 2px solid #ccc;*/
/*    transform: rotate(-45deg);*/
/*    width: 6px;*/
/*    height: 6px;*/
/*    z-index: 1;*/
/*}*/


/*************************
*******     BADGE    ******
**************************/




/*************************
*******      Header    ******
**************************/


/*!***** top menu *!*/
/*.top-menu .item{*/
/*	padding: 0 10px;*/
/*}*/
/*!***** Всплывающие телефоны *!*/
/*.phone-wrap{*/
/*    align-items: center;*/
/*    display: flex;*/
/*}*/
/*.icon-phone{*/
/*    position: relative;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    font: bold 17px/21px 'Proxima Nova', sans-serif;*/
/*    padding: 0 25px;*/
/*    white-space: nowrap;*/
/*}*/

/*.icon-menu{*/
/*    padding:3px;*/
/*}*/

/*.icon-phone>a{*/
/*    position: relative;*/
/*}*/
/*.icon-phone>a:before { */
/*    content: '\1F57B'; */
/*    width: 26px; */
/*    height: 26px; */
/*    background-position: 0 -44px; */
/*    position: absolute; */
/*    left: -20px;*/
/*    top: -3px;*/
/*    color: #e30000;*/
/*    font-size:27px;*/
/*    transform: rotate(-30deg);*/
/*}*/

/*.icon-phone>a:after {*/
/*    content: '';*/
/*    display: block;*/
/*    position: absolute; */
/*    top: 3px;*/
/*    right: -21px;*/
/*    width: 8px;*/
/*    height: 8px;*/
/*    border-bottom: 3px solid #e30000;*/
/*    border-right: 3px solid #e30000;*/
/*    transform: rotate(45deg);*/
/*}*/

/*.icon-phone .popup-info { */
/*    position: absolute; */
/*    left: 0; */
/*    top: 100%; */
/*    padding-top: 0; */
/*    height: 0; */
/*    z-index: 6; */
/*}*/

/*.icon-phone .popup-info .inner { */
/*    width: 200px; */
/*    background: #fff; */
/*    -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.28); */
/*    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.28); */
/*    font: 15px/19px 'Proxima Nova', sans-serif; */
/*    color: #181617; */
/*    padding: 0 30px; */
/*    height: 0; */
/*    overflow: hidden; */
/*    border-radius: 2px; */
/*    position: relative; */
/*    -webkit-transition: all 0.3s; */
/*    -o-transition: all 0.3s; */
/*    transition: all 0.3s; */

/*}*/
/*.icon-phone .popup-info .inner:before { */
/*    content: ''; */
/*    border-bottom: 10px solid #fff; */
/*    border-left: 11px solid transparent; */
/*    border-right: 11px solid transparent; */
/*    position: absolute; */
/*    left: 55px; */
/*    top: -10px; */
/*}*/

/*.icon-phone .popup-info .head { */
/*    border-bottom: 1px solid #ebebeb; */
/*    padding-bottom: 15px; */
/*    margin-bottom: 16px; */
/*    white-space: initial;*/
/*}*/
/*.icon-phone .popup-info p { */
/*    margin: 0 0 11px;*/
/*}*/
/*.icon-phone .popup-info p:last-child { */
/*    margin: 0; */
/*}*/
/*.icon-phone .popup-info .phones a{ */
/*    font: bold 17px/21px 'Proxima Nova', sans-serif; */
/*    color: #343133;*/
/*    line-height: 1.7;*/
/*}*/
/*.icon-phone:hover .popup-info { */
/*    padding-top: 15px; */
/*    height: auto; */
/*}*/
/*.icon-phone:hover .popup-info .inner { */
/*    padding: 25px 30px; */
/*    height: auto; */
/*    overflow: visible; */
/*}*/

/*#icon-locked{*/
/*    fill:#e30000;*/
/*}*/

/*body,*/
/*.top-strip,*/
/*.top-strip div a, */
/*.user-menu,*/
/*.user-menu li,*/
/*.user-menu label,*/
/*.enter-button,*/
/*.user-button,*/
/*.user-button span,*/
/*.user-button:hover .nav,*/
/*.user-button:hover .nav>a,*/
/*.nav:hover>a,*/
/*.user-menu:hover .nav,*/
/*.user-menu:hover .nav a,*/
/*footer,*/
/*footer p*/
/*{ */
/*    display: flex;*/
/*}*/

/*.h-upper div:not([class]){*/
/*    margin-left: 45px;*/
/*}*/

/*body {*/
/*    flex-direction: column;*/
/*    height: 100%;*/
/*}*/

/*header {*/
/*    background: #fff;*/
/*    !*height: 120px;*!*/
/*    z-index: 500;*/
/*    width: 100%;*/
/*    box-shadow: 0px 6px 10px 0px #d2d2d2;*/
/*    margin-bottom: 20px;*/
/*}*/
/*.logo-wrap{*/
/*    display: flex;*/
/*    width: 515px;*/
/*    margin: 0 0 0 10px;*/
/*    font-size: 13px;*/
/*    position: relative;*/
/*}*/
/*.logo-wrap>a{*/
/*    height: 45px;*/
/*    width: 60%;*/
/*    position: absolute;*/
/*}*/

/*.logo-wrap>svg{ width: 250px; height: 40px;}*/
/*.logo-desc{    width: 120px;}*/
/*.h-phone{*/
/*    color: #343133;*/
/*    font: bold 21px/17px 'Proxima Nova', sans-serif;*/
/*}*/



/*.header-lower span{*/
/*    padding-right: 8px;*/
/*}*/
/*.h-upper>* {*/
/*    flex: 1;*/
/*}*/
/*.h-upper{*/
/*    padding: 12px 0 10px 0;*/
/*    max-width: 1310px;*/
/*    margin: auto;*/
/*    display: flex;*/
/*    position: relative;*/
/*    height: 45px;*/
/*}*/
/*.h-lower{*/
/*    padding-right: 10px;*/
/*    max-width: 1310px;*/
/*    margin: auto;*/
/*    display: flex;*/
/*    background:#000;*/
/*    height: 46px;*/
/*    justify-content: space-between;*/
/*}*/

/*.contact p*/
/*.contact H3*/
/*{*/
/*	margin: 0;*/
/*	padding: 0;*/
/*}*/
/*.map{*/
/*	!*    position: absolute;*!*/
/*    width: 100%;*/
/*    margin-top: 60px;*/
/*}*/
/*.inner-wrap{*/
/*    max-width: 1310px;*/
/*    margin: auto;*/
/*    box-sizing: border-box;*/
/*    padding-bottom: 3px;*/
/*}*/

/****************************
*******      SEARCH    ******
****************************/



/**********************************
*******      CATALOG MENU    ******
***********************************/


/*.header-lower{*/
/*    position: relative;*/
/*    background-color: #000;*/
/*}*/

/*.h-cat:hover{*/
/*	background-color: #9e0000;*/
/*}*/
/*.h-cat*/
/*{*/
/*    text-transform: uppercase;*/
/*	transition: .5s;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex: 1;*/
/*    padding: 13px;*/
/*    background: #e30000;*/
/*    color: #fff;*/
/*    font: 400 17px/17px intro,'Proxima Nova', sans-serif;*/
/*}*/
/*.h-cat:first-child ul{*/
/*    left:0;*/
/*}*/
/*.h-cat:last-child ul{*/
/*    right:0;*/
/*}*/
/*.h-cat ul{*/
/*    height: 0;*/
/*    position: absolute;*/
/*    top: 45px;*/
/*    overflow: hidden;*/
/*    color:black;*/
/*    z-index: 2;*/
/*}*/
/*.h-cat:hover ul*/
/*{*/
/*    padding: 30px 25px 15px 25px;*/
/*    height: auto;*/
/*    max-height: fit-content;*/
/*    background-color: white;*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.28);*/
/*    overflow: visible;*/
/*}*/
/*.h-cat ul:before{*/
/*    content: '';*/
/*    display: block;*/
/*    width: 0px;*/
/*    height: 0px;*/
/*    transform: rotate(45deg);*/
/*    position: absolute;*/
/*    top: -4px;*/
/*    right: 50%;*/
/*    border-top: 10px solid white;*/
/*    border-left: 10px solid white;*/
/*}*/
/*.h-cat:first-child ul:before{*/
/*    right: 80%;*/
/*}*/
/*.h-cat:hover ul li */
/*{*/
/*	padding: 10px 5px;*/
/*    border-bottom: #f0f0f0 1px solid;*/
/*	transition:.3s;*/

/*}*/
/*.h-cat ul li */
/*{*/
/*    padding: 0px 0px;*/
/*	transition:.3s;*/
/*}*/
/*.h-cat ul li a*/
/*{*/
/*    font: 600 14px/17px 'Proxima Nova', sans-serif;*/
/*}*/




/**********  FRAME   *********/


/*.wrap {*/
/*    flex: 1 0 auto;*/
/*	min-height: 100vh;*/
/*}*/
/*.top-menu{*/
/*    height: 25px;*/
/*    background: black;*/
/*    color: #fff;*/
/*	padding: 0 48px;*/
/*	position: sticky;*/
/*    top: 0;*/
/*    z-index: 3;*/
/*}*/
/*.top-menu a{*/
/*    color: #fff;*/
/*}*/

/*.top-menu>.row*/
/*{*/
/*    height: 100%;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    max-width: 1310px;*/
/*    margin: auto;*/
/*}*/

/*footer {*/
/*	margin-top: -94px;*/
/*    max-height: 94px;*/
/*    justify-content: space-between;*/
/*    !*background-image: url(/pic/header-big.png);*!*/
/*}*/
/*footer>.row>.column {*/
/*    margin: 15px 3vw;;*/
/*}*/
/*footer>.row{*/
/*    flex-basis: 50%;*/
/*    margin: 0 auto;*/
/*}*/

/*footer p,*/
/*footer a*/
/*{*/
/*    color: #fff;*/
/*    padding: 0 15px;*/
/*    font-size: 10px;*/
/*}*/

/*.page-buffer{*/
/*    min-height: 100px;*/
/*}*/
/*.contacts a{*/
/*    color:#fff;*/
/*}*/
/*.contacts{ */
/*    color:#fff;*/
/*    align-self: center;*/
/*    margin-left: 50px;*/
/*}*/
/*.logo{*/
/*    display:flex;*/
/*    flex: 1;*/
/*    justify-content: start;*/
/*    height: 45px;*/
/*    margin-left: 10px;*/
/*}*/
/*.logo img{*/
/*    width: 100%;*/
/*    max-width: 35%;*/
/*    min-width:50px;*/
/*}*/
/*.logo a*/
/*{*/
/*    width: 22vw;*/
/*    display: block;*/
/*}*/
/*.logo>span*/
/*{*/
/*    margin: 3px 0 0 -50px;*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*    font-size: 14px;*/
/*    color:#343133;*/
/*}*/
/*.user-menu .icon{*/
/*    padding: 5px 16px;*/
/*    display: flex;*/

/*}*/
/*.user-menu .icon svg{*/
/*    width: 14px;*/
/*}*/
/*.user-menu>.row{*/
/*	height: 100%;*/
/*	flex-basis: 280px;*/
/*	justify-content: flex-end;*/
/*}*/
/*.user-menu>span.row>a{*/
/*    color: #fff;*/
/*    display: flex;*/
/*}*/
/*.user-menu{*/
/*	display: flex;*/
/*    justify-content: flex-end;*/
/*    align-items: center;*/
/*    height: 100%;*/
/*    position: relative;*/
/*}*/

/*.h-phone,*/
/*.h-upper>div:not([class]){*/
/*    position: relative;*/
/*    top: 8px;*/
/*    white-space: nowrap;*/
/*}*/
/*.user-menu>a*/
/*{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.user-menu a{*/
/*    color:#8d8d8d;*/
/*}*/
/*.user-menu>span .icon:hover {*/
/*    background: #626262;*/
/*}*/

/*.FIO{*/
/*	display: flex;*/
/*    align-items: center;*/
/*	padding-right: 10px;*/
/*    font-size: 12px;*/
/*}*/
/*!*.user-menu>span:after*/
/*{*/
/*    content:'☰';*/
/*    display: block;*/
/*    padding: 0 8px;*/
/*}*!*/

/*.form-submit input*/
/*{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    opacity: 0;*/
/*}*/


/*.user-button*/
/*{*/
/*    flex-direction: column;*/
/*}*/

/*.user-button div:first-child span*/
/*{*/
/*    padding-left: 10px;*/
/*    color: #fff;*/
/*}*/

/*.nav{*/
/*    display: none;*/
/*    flex-flow: column;*/
/*    border: 1px solid #eee;*/
/*    box-shadow: 0 6px 12px rgba(0,0,0,0.175);*/
/*    background: #fff;*/
/*    z-index: 2;*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    right: -1px;*/
/*    width: 280px;*/
/*}*/
/*.nav a:hover{*/
/*    background: #ababab33;*/
/*} */
/*.nav a{*/
/*    display: none;*/
/*    padding:5px 10px;*/
/*}*/



/*************************
*******      Category    ******
**************************/

.right-block .description{
	padding: 10px;
    margin-top: 50px;
}
/*************************
*******      PRODUCT    ******
**************************/

/***** Карточка товара */

.product-container{
    perspective: 5000px;
    flex: 1;
    min-width: 22%;
    max-width: 22%;
    margin: 2px;
}
.product-container:last-child{
    max-width: 22%;
}


.link{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}



.img-container{
    height: 300px;
    align-self: center;
}

/*#slides {*/
/*    position: relative;*/
/*    padding: 0px;*/
/*    list-style-type: none;*/
/*    background-color: white;*/
/*    margin: 12px 39px;*/
/*    height: 100%;*/
/*    width: 222px;*/
/*    box-sizing: border-box;*/
/*}*/
/*#slides .next,*/
/*#slides .prev*/
/*{*/
/*    position: absolute;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    border-radius: 50%;*/
/*    background-color: rgba(124, 100, 100, 0.42);*/
/*    cursor: pointer;*/
/*    color: #fff;*/
/*    font-size: 34px;*/
/*    font-weight: bold;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    z-index: 3;*/

/*}*/
/*#slides .next{*/
/*    right: -35px;*/
/*    top: 35%;*/
/*}*/
/*#slides .prev{*/
/*    left: -35px;*/
/*    top: 35%;*/
/*}*/

/*.slide {*/
/*    left: 0px;*/
/*    top: 0px;*/
/*    height: 507px;*/
/*    opacity: 0;*/
/*    z-index: 1;*/
/*    transition: opacity 1s;*/
/*    position: absolute;*/
/*}*/
/*.slide a{*/
/*    display: flex;*/
/*    flex-flow: column;*/
/*    justify-content: space-between;*/
/*    position: relative;*/
/*    height: 100%;*/
/*}*/
/*.slide .pic{*/
/*    width: 100%;*/
/*    height: 0%;*/
/*    flex: 4;*/
/*    object-fit: contain;*/
/*}*/
/*.slide span{*/
/*    display: flex;*/
/*    flex: 1;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background-color: rgba(10, 10, 10, 0.5);*/
/*    color: #fff;*/
/*    font-size: x-large;*/
/*    font-weight: 700;*/
/*    padding: 0 6px;*/
/*}*/
/*.showing {*/
/*    opacity: 1;*/
/*    z-index: 2;*/
/*}*/
/*!**************************************/
/********     copied from MAIN    *******/
/***************************************!*/
/*.sale-action-wrap>span{*/
/*    font-family: intro, sans-serif;*/
/*    font-size: 33px;*/
/*    margin-top: 15px;*/
/*}*/
/*.info{*/
/*	flex:3;*/
/*	padding: 0 48px;*/
/*}*/
/*.white-space{*/
/*	background-color: white;*/
/*    margin: 16px;*/
/*    height: 100%;*/
/*}*/
/*.sale-action-wrap{*/
/*	align-items: center;*/
/*	width: 250px;*/
/*	background-color: #fbe61f;*/
/*    box-shadow: 0 0 6px 5px #d2d2d2;*/
/*    border: 1px #d2d2d2 solid;*/
/*    height: 585px;*/
/*}*/
/*.single-slide{*/
/*    height: 500px;*/
/*    flex: 1;*/
/*	flex-basis: 49px;*/
/*	width: 225px;*/
/*    margin: auto;*/
/*    overflow: hidden;*/
/*}*/
/*.single-slide img{*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*    margin: auto;*/
/*}*/
/*.image-height{*/
/*    !*height: 500px;*!*/
/*    display: flex;*/
/*    margin: 0 27px;*/
/*    justify-content: space-between;*/
/*}*/
/*.image-height>div{*/
/*    font-weight: 600;*/
/*    padding: 7px;*/
/*	min-height: 54px;*/
/*}*/

/*!**************************************/
/********     MEDIA QUERRIES    *******/
/***************************************!*/

/*@media (max-width: 400px) {*/

/*	.top-menu{*/
/*		padding: 0 20px;*/
/*	}*/
/*    .FIO,*/
/*    .t-1,*/
/*    .logo-desc,*/
/*    .title,*/
/*    .logo>span,*/
/*    .basket,*/
/*	.header-lower,*/
/*	.top-menu .contacts,*/
/*    .user-button,*/
/*    .user-button span,*/
/*    .icon-phone,    */
/*    .contacts,*/
/*    .card-right,*/
/*    .phone-wrap*/
/*    {*/
/*        display:none;*/
/*    }*/
/*	header{*/
/*		height: 65px;*/

/*	}*/
/*    .logo svg*/
/*    {*/
/*        width: 235px;;*/
/*    }*/
/*    .dtxt{*/
/*        width:80%;*/
/*    }*/


/*}*/

/*!* xs (<=543px) *!*/
/*@media (min-width: 401px) and (max-width: 575px){*/


/*    .FIO,*/
/*    .t-1,*/
/*    .logo-desc,*/
/*    .title,*/
/*    .logo>span,*/
/*    .basket,*/
/*    .icon-phone,*/
/*	.header-lower,*/
/*	.top-menu .contacts,*/
/*    .user-button span,*/
/*    .user-button,*/
/*    .card-right*/
/*    .user-button div span,*/
/*    .top-strip,*/
/*    .phone-wrap*/
/*    {*/
/*        display:none;*/
/*    }*/
/*	header{*/
/*		height: 65px;*/

/*	}*/

/*    .user-button i{*/
/*        font-size: 3.5vw;*/
/*    }*/
/*    .container-do-test{*/
/*        flex-direction: column;*/
/*        align-items: flex-start;*/
/*    }*/

/*    .test-menu-wrap{*/
/*        margin: 0;*/
/*    }*/
/*    .dtxt{*/
/*        width:80%;*/
/*    }*/

/*    .nav{*/
/*        right: 0px;*/
/*        width:auto;*/
/*    }*/
/*    .search-wrap{*/
/*        margin: 6px 5px;*/
/*    }*/

/*}*/
/*!* sm (>=576 и <=767) *!*/
/*@media (min-width: 575px) and (max-width: 768px) {  */

/*	.toggle-button{*/
/*		display: block;*/
/*	}*/
/*	header{*/
/*		height: 65px;*/
/*	}*/
/*    .logo-desc,*/
/*    .title,*/
/*    .logo>span,*/
/*    .basket,*/
/*    .icon-phone,  */
/*    .user-button span,*/
/*    .h-upper>div:not([class]),*/
/*    .user-button,*/
/*    .card-right,*/
/*    .FIO,*/
/*    .phone-wrap,*/
/*	.header-lower*/
/*    {*/
/*        display:none;*/
/*    }*/
/*    .logo-wrap{*/
/*        width: 240px;*/
/*    }*/

/*}*/

/*!* md (>=768 и <=991) *!*/
/*@media (min-width: 768px) and (max-width: 991px) {  */

/*    .h-upper>div:not([class]),*/
/*    .title,*/
/*    .logo>span,*/
/*    .basket	*/
/*    {*/
/*        display: none;*/
/*    }*/

/*}*/

/*!* lg (>=992 и <=1199) *!*/
/*@media (min-width: 992px) and (max-width: 1199px) {  */

/*    .h-upper>div:not([class]),*/
/*    .title*/
/*    {*/
/*        display: none;*/
/*    }*/

/*    .logo-wrap {*/
/*        min-width: 437px;*/
/*        max-width:583px;*/
/*    }*/

/*}*/

/*!* xl (>=1200) *!*/
/*@media (min-width: 1200px) {*/
/*    .q,*/
/*    .menu a, */
/*    textarea,*/
/*    .pagination a*/

/*    {*/
/*        font-size: .9vw;*/
/*    }*/
/*    .content*/
/*    {*/
/*        flex:3;*/
/*    }*/

/*    textarea*/
/*    {*/
/*        font-family:inherit;*/
/*    }*/

/*    .holder*/
/*    {*/
/*        font-size: .6vw;*/
/*    }*/
/*    .vert-menu__list::after*/
/*    {*/
/*        border: .4vw solid;*/
/*        border-color: transparent transparent transparent #eee;*/
/*    }*/

/*    .pagination a*/
/*    {*/
/*        width: 1.1vw;*/
/*        padding: .1vw .3vw;*/
/*    }*/
/*    .button,*/
/*    .test-name*/
/*    {*/
/*        font-size: 1vw;*/
/*    }*/
/*}*/



