
.h-upper

  .logo-wrap

    .logo-vitex

      @media screen and (max-width: 560px)
        display: none

    .logo-square

      @media screen and (max-width: 560px)
        padding-right: 20px

    >svg
      width: 250px
      height: 40px

  .phone-wrap
    align-items: center
    display: flex
    position: relative
    font: bold 17px/21px 'Proxima Nova', sans-serif
    padding: 0 25px
    white-space: nowrap

    @media screen and (max-width: 760px)
      display: none

    &>a
      position: relative
      padding: 13px 45px
      &:before
        content: '\1F57B'
        width: 26px
        height: 26px
        background-position: 0 -44px
        position: absolute
        left: 12px
        top: 8px
        color: #e30000
        font-size: 27px
        transform: rotate(-30deg)

      &:after
        content: ''
        display: block
        position: absolute
        top: 14px
        right: 9px
        width: 8px
        height: 8px
        border-bottom: 3px solid #e30000
        border-right: 3px solid #e30000
        transform: rotate(45deg)
    &>a:hover
      &~.popup-info
        padding-top: 15px
        height: auto

      &~.popup-info .inner
        padding: 25px 30px
        height: auto
        overflow: visible


    .popup-info
      position: absolute
      left: 0
      top: 100%
      padding-top: 0
      height: 0
      z-index: 6

      .inner
        width: 200px
        background: #fff
        -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.28)
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.28)
        font: 15px/19px 'Proxima Nova', sans-serif
        color: #181617
        padding: 0 30px
        height: 0
        overflow: hidden
        border-radius: 2px
        position: relative
        -webkit-transition: all 0.3s
        -o-transition: all 0.3s
        transition: all 0.3s

        &:before
          content: ''
          border-bottom: 10px solid #fff
          border-left: 11px solid transparent
          border-right: 11px solid transparent
          position: absolute
          left: 55px
          top: -10px

        .head
          border-bottom: 1px solid #ebebeb
          padding-bottom: 15px
          margin-bottom: 16px
          white-space: initial

        p
          margin: 0 0 11px

          &:last-child
            margin: 0

        .phones a
          font: bold 17px/21px 'Proxima Nova', sans-serif
          color: #343133
          line-height: 1.7