@import '../components/misc/grid_table'
@import "components/a_submenu/a_submenu"
@import "components/a_user_menu/a_user_menu"
@import "components/a_breadcrumbs"

header
  position: relative
  padding: 10px 0
  z-index: 500
  width: 100%
  background: url(/pic/header-big.png)
  justify-content: flex-end
  align-items: center
  min-height: 45px

  .header-tabs
    position: absolute
    bottom: 0
    left: 100px
    display: flex

    div
      padding: 6px
      background-color: #fff
      border-radius: 5px 5px 0 0
      cursor: pointer

    div:first-child
      left: 54px
      background-color: #000
      color: #ccc
      margin-right: 10px

    div:last-child
      border-bottom: 0
      font-weight: 600

    a
      height: 100%
      width: 100%
      display: block
      position: absolute
      top: 0
      left: 0


.a-wrap
  flex: 1 0 AUTO


///*//////////////////////////////*/
///*////////   Catalog  /////////*/
///*//////////////////////////////*/

.a-btn-action
  background-color: #565d68
  padding: 5px 10px
  margin-right: 10px
  cursor: pointer
  color: #fff
  font-weight: 600

.tabs

  & > .a-btn-action
    margin-left: 60px

  .separator
    background-color: #ebf4f4
    margin: 10px 0
    display: flex
    //justify-content: space-around
    padding: 1em
    color: #646464
    position: sticky
    bottom: 0


.tabs
  min-width: 320px
  width: 100%
  padding: 0px
  margin: 0 auto 0 0
  position: relative

  & > section
    display: none
    background: #fff
    border: 1px solid #ddd

    & > .flex
      margin: 0 0 5px
      line-height: 1.5
      color: #383838
      animation-duration: .5s
      animation-fill-mode: both
      animation-name: fadeIn

  & > input
    display: none
    position: absolute

  & > input:checked + label
    color: #555
    border-top: 1px solid #ffa500
    border-bottom: 1px solid #fff
    background: #fff

  & > label
    display: inline-block
    margin: 0 0 -1px
    padding: 9px 3px
    font-weight: 600
    text-align: center
    border: 1px solid #ddd
    background: #f1f1f1
    border-radius: 3px 3px 0 0
    color: #8b8b8b

    @media screen and (max-width: 400px)
      padding: 15px

    @media screen and (max-width: 680px)
      font-size: 7px

  & > label:before
    font-weight: normal
    margin-right: 10px
    @media screen and (max-width: 680px)
      margin: 0
      font-size: 18px

  & > label:hover
    color: #888
    cursor: pointer

  #tab1:checked ~ #content-tab1,
  #tab2:checked ~ #content-tab2,
  #tab3:checked ~ #content-tab3,
  #tab4:checked ~ #content-tab4
    display: flex
    flex-direction: column
    padding: 15px
    min-height: 100vh

  #content-tab1
    padding: 10px

  .row
    padding: 5px

    div, span, select, input, label
      flex: 3
      min-height: 18px
      position: relative

    select
      width: 100%

    strong
      color: #555555
      min-width: 120px
      padding-right: 15px
      display: flex
      flex: 1
      justify-content: flex-end
      font-size: 14px
      align-items: start
      word-break: break-word
      text-align: end

    input[type='checkbox']
      display: none

    input+label
      display: inline-flex
      align-items: center
      user-select: none

    input+label::before
      content: ''
      display: inline-block
      width: 1em
      height: 1em
      flex-shrink: 0
      flex-grow: 0
      border: 1px solid #adb5bd
      border-radius: 0.25em
      margin-right: 0.5em
      background-repeat: no-repeat
      background-position: center center
      background-size: 50% 50%

    input:checked+label::before
      border-color: #0b76ef
      background-color: #0b76ef
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")


input[contenteditable],
span[contenteditable],
.category-properties select
  border: 1px solid transparent
  background-color: #fbfbfb


input[contenteditable]:hover,
span[contenteditable]:hover,
.category-properties select:hover
  border-color: #ebf4f4
  box-shadow: 0 0 2px 2px #f1f1f1
  min-height: 18px


.categories
  .row
    justify-content: space-around
    align-items: center

  .row:hover
    background: #ccc




/*///////////////////////////////////*/
/*//       CATALOG PRODUCT        //////*/
/*///////////////////////////////////*/

.edit:before
  content: '\270e изменить'
  line-height: 54px
  display: block
  position: absolute
  width: 80%
  padding: 0 0 0 20%
  height: 100%
  color: #fff

.value
  padding-left: 10px

  &:focus
    border-bottom: 1px #ddd solid

.props
  display: flex
  flex-flow: column
  margin: 20px 20px

  .val
    padding: 10px
    flex: 1

td a
  border: 1px solid #949494
  padding: 3px 8px









.wrap-admin
  background-color: #fffF
  margin: 0 5px


.adm-content
  flex: 1
  background-color: #f7f7f7
  margin: 5px


.add-prop
  background: #123aff
  color: #fff
  height: 100%
  font-weight: 600
  padding: 3px 6px
  transition: .1s


.add-prop:hover
  background: #0070ff
  color: #fff

.add-prop-val
  height: 17px
  transition: .1s

.del-prop
  width: 15px
  height: 15px
  position: absolute
  background: red
  right: 0
  top: 100%
  color: #fff
  font-size: 8px
  transition: .3s
  border-radius: 0 0 7px 7px
  line-height: 200%

  &:hover
    width: 50px
    transition: .3s

  span
    position: absolute

  span:nth-child(1)
    opacity: 1
    right: 5px

  span:nth-child(2)
    opacity: 0
    display: none

  &:hover.del-prop span:nth-child(1)
    opacity: 0
    transition: .3s

  &:hover.del-prop span:nth-child(2)
    opacity: 1
    transition: .3s
    right: 6px
    display: block


.category-properties
  margin: 5px 0 5px 50px

.wrap .list:hover
  background: #f6f6f6

.properties
  padding: 5px

  &.column > select
    margin: 5px 0 5px 50px

  select
    margin: 5px 0

.cat-prop
  padding: 10px 0
  font-weight: 600

.add-property
  justify-content: flex-end

  span
    padding: 10px 10px 10px 0





