.popup-wrap
  position: fixed
  bottom: 15px
  right: 10px
  min-width: 100px
  max-width: 30%

.popup
  display: flex
  flex-flow: column
  height: auto
  background-color: #4e735a
  border-radius: 3px
  padding: 5px 10px
  margin: 2px 0
  opacity: 0
  transition: opacity 1s
  p
    color: #fff
    font: 300 12px/1.3rem Roboto,sans-serif

.popup-not-ok
  background-color: rgba(148, 54, 54, .8)
