.a-content
    background-color: #fff
    h2
        margin: 15px 0px

.a_props-table

    .edit:hover
        box-shadow: 1px 1px 3px 0px #cccccc

    .edit:before
        content: "\270e"
        display: block
        position: absolute
        left: 2px
        top: 0%
        color: #4e4e4e
        width: 21px
        height: 21px
    .sort
        min-width: 30px
        word-break: break-all
        cursor: text
.a-actions
  .prop
      display: flex
      &:hover
          background-color: #deeded
          cursor: pointer
      div
          padding: 5px

.prop-container
    flex-flow: column
    display: none

    &.active
        display: flex

    .row
        justify-content: center
        select
            width: 50%
        *
            flex: 1
            padding: 3px 5px
            margin: 3px
            color: #4e4e4e
        *:first-child
            display: flex
            justify-content:
            max-width: 150px