
/*************************
*******		CATEGORY  ******
**************************/

.filter>label{
    padding: 0 25px 0 0;
}  

.subcat a{
    width: 100%;
}
#subcat:checked~label>.subcat{
    display: flex;
    background: #f4f4f4;
    padding: 5px;
    border-radius: 2px;
    margin: 5px 0;
    line-height: inherit;
    color:inherit;
    transition: 1s;
    width: 106%;
}

#subcat:not(:checked)~label>.subcat a{
    position: absolute;
    top:50px;
    color:#fff;

}
#subcat:not(:checked)~label:before,
#subcat:checked~label:before
{
    content: '';
    position: absolute;
    top:13px;
    right: 15px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    transition: .5s;
    transform: rotate(45deg);
}

#subcat:checked~label:before{
    top:18px;
    transition: .5s;
    transform: rotate(225deg);
}


.filters{
    flex: 1;
    padding: 10px;
    border: 1px solid #dcefd1;
    max-width: 260px;
    position: relative;
    margin: 54px 10px 0 0;
}
#subcat{
    display:none;
}




.right-block{
    flex:3;
}

.products{
    display:flex;
    flex-wrap: wrap;
}



.final.price{
    font-size: 16px;
    font-weight: 700;
    color: red;
}

.price.strikethrough{
    position: relative;
    font-size: 12px;
    font-weight: normal;
    color: #666;
}

.strikethrough:after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid red;
    transform: rotate(-6deg);
    color: #ccc;
    width: 100%;
    height: 50%;
}
.item-title{
    margin-top: 10px;
}







/*************************
*******     PRODUCT    ******
**************************/



/********     pic-box    *******/


.pic {
    height: 160px;
}
.pic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*******     layout    ******/


h1{
	font-family: Intro,sans-serif;
}
.product
{
    display: flex;
    /*border: 1px solid #ddd;*/
    /*width: auto;*/
    padding: 0;
    position: relative;
    overflow: hidden;
	width: 160px;
}
.dtxt
{
    margin: 0 10px;
    text-align: left;
}
.card-left
{
    flex: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
	flex-basis: 381px;;
	min-width: 400px;
}
.card-left .image{    
	display: flex;
    justify-content: center;
	position: relative;
	width: 400px;
	height: 480px;
}
.card-left img{

	max-width: 100%;
	max-height: 100%;
}

.card-right
{
    flex: 1;
    flex-basis: 240px;
    display: flex;
    border-left: 1px solid #ccc;
}	

.card-wrap{
    display: flex;
    align-items: self-start;
}
/*.badge{
    position: relative;
    color: #212121;
    background-color: #fff;
    margin: 7px 0 0;
}*/

.cust-questions-wrap ol
{
    margin-left: 14px;
    font: 700 italic 24px Georgia,serif;
    color: #fc5800;
    text-align: left;
}
.cust-questions-wrap ol li
{
    list-style-type: decimal;
    margin: 0 0 20px;
}
.cust-questions-wrap span
{
    font: normal 16px Verdana,Arial,sans;
    padding: 0 0 15px;
    margin: 0;
    color: #555;

}
.info
{
    margin: 10px 30px 40px;
    text-align: left;
}

.product H1{
    font: normal 19px Intro,Verdana,Arial,sans;
    color: #555;
    text-align: center;
    padding: 1.14rem 1.14rem ;
}

.card .image {
    text-align: center;
    position: relative;
    padding: 0 10px 36px;
}

.card .image img
{
    min-width: 300px;
    padding-bottom: 40px;
    max-width: 100%;
}

.horiz-thumbs
{
    display:flex;
    justify-content: center;
}
.also-viewed
{
    display:flex;
    justify-content: center;
}



.thumb
{
    height: 76px;
    width: 70px;
    border: 1px #bbb solid;
    margin: 10px;
}
.thumb-small
{
    height: 40px;
    width: 60px;
    margin: 2px 0;
    border: 1px #bbb solid;
}
.thumb-big
{
    height: 157px;
    width: 168px;
    border: 1px #bbb solid;
}




.vert-thumbs
{
    position: absolute;
    top:0;
    left:0;
    padding: 0 10px;
}

.desc 
{
    display: flex;
    flex-flow:column;
    max-height: 400px;
    justify-content: flex-end;
}
.desc span
{
    padding: 10px;
    margin: 5px 0;
}

.desc p:first-child
{
    color:#b7b7b7;
}


.add-to-cart {
    margin-top: 20px;
    background-color: #e60000;
    border: 0;
    cursor: pointer;
    font: 600 17px/17px 'Proxima Nova', sans-serif;
    color: #fff;
    border-radius: 2px;
    padding: 11px 19px 13px 19px;
    width: 230px;
}


.prod-info-wrap,
.cust-questions-wrap
{
    display: flex;
    flex-flow:column;
    align-items: flex-start;
}
.cust-questions-wrap input:focus 
{

    outline: none;
    border-color: #85c0ff;
    box-shadow: 0 0 6px #85c0ff;

}

.share .f
{
    background-color: #3b5998;
    border-radius: 5px;
    transition: none;
    width: 28px;
    height: 26px;
}

.note
{
    font: normal 10px Verdana,Arial,sans;
    margin: 20px 0;
    line-height: 1.5em;
    color: #777;
}
.cust-questions-wrap input
{
    display: block;
    font: normal 12px Verdana,Arial,sans;
    padding: 6px;
    border: 1px solid #ccc;
    width: 400px;
    margin: 20px;
    border-radius: 3px;
    box-sizing: border-box;
}
.cust-questions-wrap p
{
    margin: 0;
    font: normal 16px Verdana,Arial,sans;
    padding: 0 0 15px;
    margin: 0;
    color: #555;
}
.info-tag {
    font: italic 18px Georgia,serif;
    background: #e30000;
    color: #fff;
    position: relative;
    margin: 0 10px 16px 0;
    line-height: 38px;
    padding: 0 28px 0 23px;
    overflow: visible;
}




/*************************
*******     RATING    ******
**************************/


.star-rating{
    font-size: 0;
}
.star-rating__wrap{
    display: inline-block;
    font-size: 1rem;
}
.star-rating__wrap:after{
    content: "";
    display: table;
    clear: both;
}
.star-rating__ico{
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #FFB300;
}
.star-rating__ico:last-child{
    padding-left: 0;
}
.star-rating__input{
    display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
    content: '★ ';
    color: #FFB300;
    /*content: "\f005";*/
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.fa-star-o:before {
    content: '★ ';
    color: #ccc;
    /*content: "\f006";*/
}
/*.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
    content: '★ ';
}*/
