///*************************************
//*******      AUTOCOMPLETE    ******
//**************************************/

.search-wrap
  position: relative
  margin: 6px 5px
  display: inline-flex

  #autocomplete
    flex: 1
    padding: 0 0 0 12px
    border: 1px solid
    height: 2.6em

  .result
    position: absolute
    top: 96%
    z-index: 2
    width: 85%
    left: 6%

    ul
      background-color: white

  form
    background: #fff
    border: 0
    border-radius: 20px
    padding: 0px 13px 0px 16px
    font: 14px/17px 'Proxima Nova', sans-serif
    color: #343133
    height: 32px

  .form-submit
    border: 0
    position: absolute
    top: 4px
    right: 5px
    cursor: pointer
    height: 77%
    width: 35px
    display: flex
    align-items: center
    justify-content: center

.result-search
  position: absolute
  top: 100%
  z-index: 2
  width: 100%

  ul li a
    display: flex

  ul
    background-color: #fff
    box-shadow: 0px 6px 10px 0px #ff6175

.find
  width: 32px
  position: absolute
  top: 0px
  right: 0px
  cursor: pointer

  &:before
    border: 2px solid #ccc
    border-radius: 50%
    box-sizing: border-box
    left: 9px
    top: 9px
    height: 14px
    width: 14px
    content: ''
    display: block
    position: absolute

  &:after
    background: #ccc
    transform: rotate(-45deg)
    right: 7px
    bottom: -28px
    height: 9px
    width: 2px
    content: ''
    display: block
    position: absolute