#content-tab1,
#content-tab2,
#content-tab3,
#content-tab4
  padding: 10px

  .row
    padding: 5px

    div, span, select, input, label
      flex: 3
      min-height: 18px
      position: relative
      padding: 2px
      font: 100 15px/20px sans-serif

    select
      width: 100%

    strong
      color: #555555
      min-width: 120px
      padding: 4px 15px 2px 5px
      display: flex
      flex: 1
      justify-content: flex-end
      font-size: 14px
      align-items: start
      word-break: break-word
      text-align: end


