@import "_tabs"

#content-tab1 // подробно

#content-tab2 // Свойства

.parent-properties
  flex-flow: column

.cat-property-title
  padding: 10px 0
  font-weight: 600
  color: #646464

.cat-property
  p
    font-weight: 100
    padding: 3px 5px

#select_props
  margin-top: 20px

.category-properties
  font: 100 13px/16px sans-serif
  color: #3d3d3d
  padding-left: 15px


  .properties
    padding: 5px

    select
      margin-left: 10px

    .new-prop
      margin: 5px 0 0px 10px

    .add-property
      justify-content: flex-end

#content-tab3 // Сео

#content-tab4 // Подкатегории / товары

  .add-product
    font-weight: bold
    color: #fff
    display: block
    padding: 8px
    align-self: flex-start
    background-color: #565d68
    cursor: pointer
    margin: 10px 0

  .products
    flex-wrap: wrap

  .product
    flex-wrap: wrap
    width: 200px

    .pic
      flex: none
      width: 200px
      height: 200px




















