/*@import url('/public/css/admin.css');*/


.module.settings.activ{
    background-image: 
        url(/pic/admin-mainmenu-items.png),
        url(/pic/admin-mainmenu-items-bg.png);
    background-position: 20px -743px, 5px -88px;
    background-repeat: no-repeat,no-repeat;
}
.adm-content .column{
    background-color: #fff;
}
.multy input{
    transform: scale(.8); 
}

.left-set>.row{
    flex-wrap: nowrap;
}
.left-set{
    font-size: 13px;
    padding: 10px;
}

.property:hover>.prop{
    opacity: 1;
    top: 39px;
    left: 25%;
    background-color: #fff;
    z-index: 2;
    transition: .3s;
    filter:blur(0px);

}
.prop{
    filter:blur(5px);
    opacity: 0;
    display: flex;
    position: absolute;
    border: 1px #123aff solid;
    padding: 3px 6px;
    justify-content: space-between;

}

.multy{
    display: flex;
    padding: 4px 17px;
    width: 178px;
}
.property:hover{
    background: #ebf4f4;
    max-width: 380px;
}
.property{
    transition: .3s;
    padding: 10px 5px;
    min-width: 140px;
    /*max-width: 380px;*/
    position: relative;

    /*margin-top: 20px;*/
}
.prop.prod-type-title 
{
    background:#123aff;	
}
.property-block .edit:before{
	color: #111;
    padding: 6px;
    background-color: #c1efef;
    border-radius: 5px;
	border-bottom: 1px #ddd solid;
	border-right: 1px #ddd solid;
}
.property-block .edit:hover:before {

	box-shadow: 1px 2px 4px 0px;
}
.prop-head{
    display:flex;
    background: #e1eaeb;
    padding: 10px;
    margin-bottom: 12px;
    justify-content: space-between;
}
.left-menu{
    width:250px;
    padding: 10px;
}

.tabs>section>.flex {
    display:flex;
}

.props{
    display: flex;
    flex-flow:column;
}
.props>div{
    display: flex;
}



.title{
    padding: 0px 0 40px;
    font-weight: 600;
    font-size: 30px;
    color: #343436;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*
.multy{
    font-size: 18px;
    font-weight: 100;
}
.property{
    padding: 10px 5px;
    min-width: 140px;
    display: flex;
    margin-top: 20px;
}
.prop.prod-type-title 
{
    background:#123aff;	
}
.property-block{
    display:flex;
    flex-flow: wrap column;
    padding-left: 12px;

}
.prop-head{
    display:flex;
    background: #c7c7c7;
    padding: 10px;
    margin-bottom: 12px;
    justify-content: space-between;
}
.left-menu{
    width:250px;
    padding: 10px;
}

.tabs>section>.flex {
    display:flex;
}

.props{
    display: flex;
    flex-flow:column;
}
.props>div{
    display: flex;
}*/
