/*@import url('/public/css/admin.css');*/


.module.settings.activ{
	background-image: 
		url(/pic/admin-mainmenu-items.png),
		url(/pic/admin-mainmenu-items-bg.png);
	background-position: 20px -743px, 5px -88px;
	background-repeat: no-repeat,no-repeat;
}

.multy input{
	transform: scale(.8); 

}

.prop:hover .left-set{
	    left: -95%;
		transition: .5s;
		opacity: 1;
}
.left-set{
	border-right:#ccc 1px solid; 
	border-right: #ccc 1px solid;
    position: absolute;
    left: 0%;
    background-color: #ebf4f4;
	opacity: 0;
	    border: 1px #123aff solid;
}

.prop{
	display:flex;
	border: 1px #123aff solid;
	padding: 3px 6px;
	justify-content: space-between;
	position: relative;
}

.property:hover>.prop{
	opacity: 1;
	top: 0;
	left: 100%;
	z-index: 2;
	transition: .3s;
	filter:blur(0px);

}
.prop{
	filter:blur(5px);
	opacity: 0;
	display: flex;
	position: absolute;
}

.multy{
    font-weight: 100;
    display: flex;
    padding: 0 18px;
	padding: 10px 20px;
}
.property:hover{
	background: #ccc;
	max-width: 380px;
}
.property{
	transition: .3s;
    padding: 10px 5px;
    min-width: 140px;
	max-width: 380px;
	position: relative;

	/*margin-top: 20px;*/
}
.prop.prod-type-title 
{
	background:#123aff;	
}
.property-block{
	width: 40%;
	display:flex;
	flex-flow: wrap column;
	padding-left: 12px;

}
.prop-head{
	display:flex;
	background: #c7c7c7;
	padding: 10px;
	margin-bottom: 12px;
    justify-content: space-between;
}
.left-menu{
	width:250px;
	padding: 10px;
}

.tabs>section>.flex {
	display:flex;
}

.props{
	display: flex;
	flex-flow:column;
}
.props>div{
	display: flex;
}



.title{
    padding: 0px 0 40px;
    font-weight: 600;
    font-size: 30px;
    color: #343436;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
