@import "../header-panel/header-panel"
@import "_h_top"
@import "_h_upper"
@import "_h_lower"

///*************************************
//*******     MEDIA QUERRIES    ******
//**************************************/

@media only screen and (max-width: 400px)
  .top-menu
    padding: 0 20px

  .FIO,
  .t-1,
  .logo-desc,
  .title,
  .logo>span,
  .basket,
  .header-lower.row,
  .top-menu .contacts,
  .user-button,
  .user-button span,
  .icon-phone,
  .contacts,
  .card-right,
  .phone-wrap
    display: none

  header
    height: 65px

  .logo svg
    width: 235px

  .dtxt
    width: 80%



